.background{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnCont{
    width: 90%;
    height: 10dvh;
    border: 1px solid black;
    background: #fff;
    margin: 5% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.adminCont {
    width: 90%;
    height: 130dvh;
    margin: 5% 0;
    margin-bottom: 10%;
}