@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* Otros estilos aquí */

.background {
    height: 15dvh;
    width: 100%;
    border-bottom: 1px solid black;
    background: #D9CEFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
}

.menuCont{
    background: #5A03D5;
    color: #D9CEFF;
}

.btn{
    color: #D9CEFF;
    background: transparent;
    border: 0;
}

.nav{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxImg{
    width: 30%;
    aspect-ratio: 1/1;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: 100%;
    width: 100%;
}

.link{
    text-decoration: none;
    font-size: 1rem;
    background-color: #2C0076;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.title{
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 5%;
}

.mark{
    display: flex;
    justify-content: center;
    width: 55%;
}

.menuCont{
    margin: 0 4.5%;
    margin-right: 0;
}